body {
  background: white;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  margin: 0;

}

li, ul {
  margin: 0;
}
header {
  
  margin: 0;
  font-family: inherit;



}
nav, ul, li{

  display: inline-block;
  list-style-type: none;

  color: black;
  padding-top: 36px;
  padding-right: 11px;
  padding-bottom: 20px;
margin: 0;

}
div, col{
  font-family: inherit;
  font-style: italic;
}
p{
  border: 1px black;
  background: #D8D5DC;
  padding-bottom: 10px;
  margin: 150;
}
